body{
    background-color:white;
    height:100vh;
    overflow: hidden;
}

.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, .col, div, a, .container-fluid{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.container-fluid{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}
 a:hover{
    text-decoration: none;
 }

 h1{
     color:#292f6a;
     font-family: 'Futura','sans-serif';
     text-align: center;
     width: 100%;
     margin-top: 60px;
 }

 .illustration-card{
     width:80%;
     height:65vh;
     background-color: white;
     border-radius: 20px;
     margin-left: 10%;
     margin-top:5vh;

     box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
 }

 .illustration-card2{
    width:80%;
    height:65vh;
    background-color: white;
    border-radius: 20px;
    margin-left: 10%;
    margin-top:18vh;

    box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
}


 .button{
    width:80%;
    padding: 10px;
    border-radius: 30px;
    background-color:#7699a1;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-top:5vh;
    font-weight: 600;
    box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 5px 16px 0px rgba(0,0,0,0.3);
 }

 .nav-bottom{
     width:100%;
     height:50px;
     border-radius: 20px 20px 0px 0px;
     background-color:#7699a1;
     margin-top: 58px;
 }